
@import 'footer.css';
@import 'mediaquery.css';
@import "button.css";

.content{
  display: grid;
  grid-template-columns:150px repeat(12,minmax(auto,80px)) 1fr;
  grid-gap: 20px;
  padding: 60px 0;
}

nav{
  background-image: linear-gradient(#11a839,#11a839,#758ce0);
}
li{
  margin: 1em;
}

li>a{
  color: white;
  text-decoration: none;
   font-family: fantasy;
}
.cards{
  grid-column: 2/ span 12;
  display: grid;
  grid-template-columns: repeat(12,minmax(auto,80px));
  grid-gap:20px;
}

.card{
  grid-column-end: span 4;
  display: flex;
  flex-direction:column;
  transition: all 0.3s ease 0s;
  background: #46d4cd;
}

.image-container{
  width:100%;
  padding-top: 56%;
  overflow: hidden;
  position: relative;
}

.image-container img{
  width:100%;
  position: absolute;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
}

.card-info{
  display: flex;
  padding: 20px;
}

.author{
  padding-top: 20px;
  margin-left: auto;
  cursor: pointer;
}
